body {
    background-color: gray;
    background-size: cover;
    background-blend-mode: overlay;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
}

#fotoprincipal {
    border-radius: 50px;
}

.botoninicio {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 131);
    background-color: white;
    color: black;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    text-decoration: none;
}

.botoninicio:hover {
    cursor: pointer;
    background-color: rgba(14, 61, 103, 0.8);
    color: #ffffff;
}

.Tituloprincipal {
    text-align: center;
    clear: right;
    font-size: 70px;
    text-shadow: 1px -2px #000083;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.LogoVolkswagen {
    float: right;
}

header {
    border-radius: 15px;
    background: linear-gradient(to right, rgb(0, 0, 0), #ffffff);
}

h1 {
    font-size: 30px;
    margin-bottom: 50px;
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.8);
}

aside {
    text-align: center;
}

section {
    text-align: center;
}

#Colorindex {
    background-color: rgba(14, 61, 103, 0.8);
    color: white;
    margin: 50px 50px;
    padding: 15px;
    border-radius: 50px;
    border: 2px;
    box-shadow: 3px 3px 3px;
}

#Colorindex:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

#Llantasindex {
    background-color: rgba(14, 61, 103, 0.8);
    color: white;
    margin: 50px 50px;
    padding: 15px;
    border-radius: 50px;
    border: 2px;
    box-shadow: 3px 3px 3px;
}

#Llantasindex:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.botonfinalizar1 {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid rgba(14, 61, 103, 0.8);
    background-color: white;
    color: black;
    font-size: 15px;
    margin-left: 40px;
    margin-top: 100px;
    display: inline-block;
    text-decoration: none;

}

.botonfinalizar {
    padding: 10px;
    border-radius: 50px;
    border: 2px solid rgba(14, 61, 103, 0.8);
    background-color: white;
    color: black;
    font-size: 15px;
    margin-left: 40px;
    display: inline-block;
    text-decoration: none;
}

.botonfinalizar:hover {
    cursor: pointer;
    background-color: rgba(14, 61, 103, 0.8);
    color: #ffffff;
}

.botonfinalizar1:hover {
    cursor: pointer;
    background-color: rgba(14, 61, 103, 0.8);
    color: #ffffff;
}

#agregatucorreo {
    font-size: 20px;
}

.boton {
    background-color: rgba(14, 61, 103, 0.8);
    color: white;
    border-radius: 50px;
    border: 2px;
    padding: 10px;
    box-shadow: 3px 3px 3px;
}

.boton:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.colorllantaauto {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
}

#colorFin {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
}

#llantaFin {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 30px;
}

.textocorreo {
    font-size: 25px;
}
